stages:
  - continuose-integration
  - deploy
  - destroy

test:
  image: adoptopenjdk/openjdk11
  stage: continuose-integration
  script:
    - cd component 
    - ./gradlew test
    - cd ..


build:
  image: adoptopenjdk/openjdk11
  stage: continuose-integration
  script:
    - cd app 
    - ./gradlew  shadowJar  --info
    - cd ..
  artifacts:
    paths:
      - app/build/libs/imageresizer-1.0.0-all.jar

deploy-backend:
  stage: deploy
  image: pulumi/pulumi-nodejs
  script:
    - cd deployment
    - npm i
    - export PULUMI_ACCESS_TOKEN="$PULUMI_ACCESS_TOKEN"
    - export AWS_ACCESS_KEY_ID="$AWS_ACCESS_KEY_ID"
    - export AWS_SECRET_ACCESS_KEY="$AWS_SECRET_ACCESS_KEY"
    - pulumi login
    - pulumi stack select dev
    - pulumi config set aws:region eu-north-1
    - pulumi up -y

destroy-backend:
  stage: destroy
  image: pulumi/pulumi-nodejs
  script:
    - cd deployment
    - npm i
    - export PULUMI_ACCESS_TOKEN="$PULUMI_ACCESS_TOKEN"
    - export AWS_ACCESS_KEY_ID="$AWS_ACCESS_KEY_ID"
    - export AWS_SECRET_ACCESS_KEY="$AWS_SECRET_ACCESS_KEY"
    - pulumi login
    - pulumi stack select dev
    - pulumi destroy -y


